/* CSS file, created by heathology, https://heathology.github.io/, on 7.17.2002. 
Gradient buttons adapted from Zach Cole (https://codepen.io/zachacole/pen/KdGzgb).*/

body {
    font-family: Helvetica, sans-serif;
}

/* logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 336px;
}

h1,
p {
    text-align: center;
}

/* Main Content Container */
.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 520px;
    color: #000000;
    text-align: center;
}

@media (max-width: 576px) {
    .content {
        width: 50%;
    }

}

@media (max-width: 768px) {
    .content {
        width: 50%;
    }

}

/* 2778x1284 pixels at 458ppi */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {}

/* Project Navigation Links */
.nav {
    text-align: center;
}

/* infite gradient shift on hover buttons */

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50vw;
    margin: 0 auto;
    max-width: 100%;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

/* <- buton css starts */

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, #60101D 20%, #2D2D82 50%, #60101D 100%);
}

.btn-2 {
    background-image: linear-gradient(to right, #60101D 0%, #2D2D82 50%, #60101D 100%);
}

.btn-3 {
    background-image: linear-gradient(to right, #60101D 0%, #2D2D82 50%, #60101D 100%);
}

.btn-4 {
    background-image: linear-gradient(to right, #60101D 0%, #2D2D82 50%, #60101D 100%);
}

.btn-5 {
    background-image: linear-gradient(to right, #60101D 0%, #2D2D82 50%, #60101D 100%);
}


/* button css ends -> */

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;

}